<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.welcomeinterruption.wisdk">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name="com.welcomeinterruption.wisdk.TesLocationUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.welcomeinterruption.wisdk.TesGeofenceUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name="com.welcomeinterruption.wisdk.TesBootService"
            android:permission="android.permission.BIND_JOB_SERVICE" />


        <service android:name="com.welcomeinterruption.wisdk.TesFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.welcomeinterruption.wisdk.TesFirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <receiver
            android:name="com.welcomeinterruption.wisdk.TesLocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.welcomeinterruption.wisdk.locationupdatespendingintent.action.PROCESS_UPDATES" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.welcomeinterruption.wisdk.TesGeoTransitionBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
        />

        <receiver android:name="com.welcomeinterruption.wisdk.TesBootBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
       />

    </application>
</manifest>
